/* Definindo estilos para o corpo da página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('images/papel2.jpg'); /* Define uma imagem de fundo */
    margin: 0;
    padding: 0;
}

/* Estilos para a seção principal */
main {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Fundo branco */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(134, 14, 201, 0.3);
}

main h1 {
    color: #000000; /* Cor do título */
    font-size: 24px;
    text-align: center;
}

main p {
    color: #666; /* Cor do texto do parágrafo */
    font-size: 16px;
}

/* Estilos para o formulário */
main form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Estilos para inputs e selects no formulário */
main input, select {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 5px;
}

/* Estilos para campos específicos no formulário */
main #nome, #email, #Cemail, #endereco {
    flex-basis: 800px;
}

main #senha, #confirma, #telefone, #endereco {
    flex-basis: 300px;
}

main #cidade, #estado, #cep {
    flex-basis: 200px;
}

main #data, #cpf {
    flex-basis: 100px;
}

/* Estilos para botões no formulário */
main button {
    flex-grow: 1;
    background-color: #007bff; /* Cor de fundo azul para botões */
    color: #fff; /* Cor do texto branco */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

/* Estilos para botão "Limpar" (reset) */
main button[type="reset"] {
    background-color: #61fa3b; /* Cor de fundo verde para botão de reset */
}

/* Estilos para botão "Enviar" (submit) */
main button[type="submit"] {
    background-color: #3ab4fa; /* Cor de fundo azul claro para botão de envio */
}

/* Efeitos de hover nos botões */
main button:hover {
    background-color: #0056b3; /* Cor de fundo azul mais escura no hover */
}

main button[type="reset"]:hover {
    background-color: #75f70b; /* Cor de fundo verde mais brilhante no hover */
}
