main{
    grid-area: main;
    align-items: center;
    display: flex;
    margin: 20px;
    background-color: rgb(236, 236, 241);
    box-shadow: 5px 5px 3px rgba(134, 14, 201, 0.3);
    border-radius: 10px;
}

.imagens1{
    display: flex;
    justify-content: center;
    padding: 20px;
}

main .St, .Jp, .Rm, li{
    color: black;
    margin-left: 40px;
    margin-right: 40px;
}